@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #060b23;
  color: white;
}

/* Navbar */
nav {
  width: 100%;
  background-color: #333;
  padding: 10px 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 1px;

}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #18ffff;
}

/* Login Container */
.login-container {
  margin-top: 100px;
  width: 400px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Tabs (Login e Registrazione) */
.tab {
  padding: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

.tab h2 {
  font-size: 22px;
  color: #333;
}

.tab p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* Input Fields */
.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  background: white;
  color: black;
  outline: none;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #666;
  font-size: 16px;
  transition: 0.3s;
}

.input-field input:focus {
  border: 1px solid #007bff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: 5px;
  left: 10px;
  font-size: 12px;
  background: white;
  padding: 0 5px;
  color: #007bff;
}

/* Buttons */
.login-btn, .register-btn {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: #007bff;
  color: white;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e7e34;
}

.register-btn {
  background: #007bff;
}

.register-btn:hover {
  background: #1e7e34;
}

/* Switch Form Link */
.switch-form {
  margin-top: 15px;
  font-size: 14px;
}

.switch-form a {
  color: #007bff;
  text-decoration: none;
}

.switch-form a:hover {
  text-decoration: underline;
}

/* Forgot Password */
.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
