<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Purchase</title>
    <link rel="stylesheet" href="/css/styleBiglietto.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-left">
        <span>Italia / € EUR</span>
        <a href="/contattaci">Contattaci</a>
    </div>

    <div class="nav-center">
        <a href="/homepage" class="logo">
            <img src="/img/P Logo .png" alt="Logo" style="height: 65px;"> <!-- Imposta l'altezza del logo -->
        </a>
        <ul>
            <li><a href="#">NUOVI ARRIVI</a></li>
            <li><a href="#">ARTISTI</a></li>
            <li><a href="#">EVENTI IN CORSO</a></li>
        </ul>
    </div>

    <div class="nav-right">
        <!-- <a href="/auth">Accedi</a> -->
        <i class="fas fa-search"></i>
        <i class="far fa-heart"></i>
        <i class="fas fa-shopping-bag"></i>
    </div>
</nav>

<div class="ticket-container">
    <div class="band-image">
        <img src="/img/Bruce_Springsteen.jpg" alt="Band Image">
    </div>

    <div class="ticket-options">
        <h1>Bruce Springsteen</h1>
        <h3>Roma Circo Massimo</h3>

        <h3>Scarica il Biglietto </h3>
        <div class="ticket-type">


            <!-- Acquista Button -->
            <div class="purchase-button-container">
                <a href="/form/form.html">
                    <button id="acquista-button" class="acquista-button">BIGLIETTO✌</button>
                </a>

            </div>
        </div>
    </div>
</div>
    <script src="/js/scriptBiglietto.js"></script>
</body>
</html>