<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
  <div class="nav-left">
    <span>Italia / € EUR</span>
    <a href="/contattaci">Contattaci</a>
  </div>

  <div class="nav-center">
    <a href="/homepage" class="logo">
      <img src="/images/P Logo .png" alt="Logo" style="height: 65px;"> <!-- Imposta l'altezza del logo -->
    </a>
    <ul>
      <!-- <li><a href="#">NUOVI ARRIVI</a></li> -->
      <!-- <li><a href="#">ASCOLTALI!</a></li> -->
      <li><a href="#">EVENTI IN CORSO</a></li>


    </ul>
  </div>

  <div class="nav-right">
    <a href="/auth">Accedi</a>
    <i class="fas fa-search"></i>
    <i class="far fa-heart"></i>
    <i class="fas fa-shopping-bag"></i>
  </div>
</nav>



<div class="banner">
  <div class="slider" style="--quantity: 10">

    <div class="item" style="--position: 1">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-1.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 2">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-2.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 3">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-3.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 4">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-4.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 5">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-5.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 6">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-6.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 7">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-7.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 8">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-8.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 9">
      <a href="/homepage" >
        <div class="slider-container">
          <img src="/images/IMG-9.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>

    <div class="item" style="--position: 10">
      <a href="/index" >
        <div class="slider-container">
          <img src="/images/IMG-10.jpg" alt="GEOLIER">
          <div class="text-overlay">Premimi!</div>
        </div>
      </a>
    </div>


  </div>
  <div class="content">
    <h1 data-content="PALCO PASS">
      PALCO PASS
    </h1>
    <div class="author">

      </p>
    </div>
    <div class="model"></div>
  </div>

</div>


</body>
</html>