<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Purchase</title>
    <link rel="stylesheet" href="/css/style2.css" />
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a href="/homepage" class="logo">
            <img src="/img/P Logo .png" alt="Logo" style="height: 65px;"> <!-- Imposta l'altezza del logo -->
        </a>
        <span>Italia / € EUR</span>
        <a href="/contattaci">Contattaci</a>
    </div>

    <div class="nav-center">


    </div>

    <div class="nav-right">
        <ul>

            <li><a href="/controller/eventi">EVENTI IN CORSO</a></li>
        </ul>
        <a href="/auth">Accedi</a>
        <i class="fas fa-search"></i>
        <i class="far fa-heart"></i>
        <i class="fas fa-shopping-bag"></i>
    </div>
</nav>

<div class="ticket-container">
    <div class="band-image">
        <img src="/img/Bruce_Springsteen.jpg" alt="Band Image">
    </div>
    <div class="ticket-options">
        <h1>Bruce Springsteen</h1>
        <h3>Roma Circo Massimo</h3>
        <div class="ticket-type">
            <button class="ticket-button" data-price="45">STANDARD - 45€</button>
        </div>
        <div class="ticket-type">
            <button class="ticket-button" data-price="65">VIP 👑 - 65€</button>
        </div>
        <div class="ticket-type">
            <button class="ticket-button" data-price="90">PLATEA 🎟️ - 90€</button>
        </div>
        <div class="ticket-type">
            <button class="ticket-button" data-price="120">TRIBUNA 🎉 - 120€</button>
        </div>
        <div class="total-price">
            Total: <span id="total">0€</span>
        </div>
        <!-- Bottone che porta alla form -->
        <div class="purchase-button-container">
            <a href="/form">
                <button id="acquista-button" class="acquista-button">Acquista</button>
            </a>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>