<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page with Menu</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="/css/Logostyle.css">
</head>
<body>

<!-- Menu -->
<nav>
    <!-- Logo in alto a sinistra -->
    <img src="/images/logo.png" alt="Logo" class="logo">

    <!-- Links del menu -->
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>

<!-- Login form -->
<div class="input-field">
    <input type="text" required spellcheck="false">
    <label>Enter email</label>
</div>

<div class="input-field">
    <input type="password" required spellcheck="false">
    <label>Enter password</label>
</div>
<div>
    <href href="register.html">Clicca qui per registrarti se non lo sei già!</href>
</div>
</body>
</html>